* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

#logo-name {
  width: 80px;
  float: left;
  margin: 6px;
}

.col-sm {
   border-radius: 50%;
}

#nav-bar {
  margin-left: 100px;
}

#first-row {
  height: 300px;
}

#second-row {
  margin-top: 50px;
}

#third-row {
  background: #DBE1D4;
  padding: 15px;
  border-radius: 30px;
}

#fourth-row {
  margin-top: 30px;
}

#mission-container {
  background: #DBE1D4;
  height: 100%;
  padding: 30px;
  border-radius: 12px;
}

.left-col {
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.right-col {
  padding-top: 40px;
}

.button {
  margin: 20px;
  margin-top: 5px;
  font-size: 1.2em;
  background-color: #E1AA35;
}

.mission {
  width: 50%;
  float: left;
}

.mission-title {
  color: #F8AF13;
  font-size: 25px;
  font-weight: bold;
}

.mission-statement {
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  height: 150px;
}

#video1 {
  margin-left: 10px;
}

#video2 {
  margin-left: 400px;
}

#video3 {
  margin-left: 100px;
}

#here-img {
  height: 400px;
  margin: 20px;
  margin-left: 40px;
}

#here-vid {
  width: 550px; 
  height: 320px;
}

#video-img {
  height: 700px;
}

.person-img {
  border-radius: 50%;
  width: 200px;
}

#help {
  text-align: center;
  margin-top: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
  color: #543315;
}

.button {
  color: white;
}

h1 {
  color: #543315;
  font-size: 60px;
}

#help {
  background: #FBCC67;
}

